@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateX(-30px) scale(0.96);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

/* Global Background Color */
body {
  background-color: #FFFFFF;
}

/* Hide horizontal scrollbar only for slider */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-raleway {
  font-family: 'Raleway';
}

.font-poppins {
  font-family: 'Poppins';
}

.font-abhaya {
  font-family: 'Abhaya Libre';
}