@import "tailwindcss";

/* Hide horizontal scrollbar only for slider */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}