@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateX(-30px) scale(0.96);
  }

  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

/* Global Background Color */
body {
  background-color: #FFFFFF;
}

/* Hide horizontal scrollbar only for slider */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-raleway {
  font-family: 'Raleway';
}

.font-poppins {
  font-family: 'Poppins';
}

.font-abhaya {
  font-family: 'Abhaya Libre';
}

@font-face {
  font-family: 'Apparel';
  src: url('/fonts/Apparel-Bold.woff2') format('woff2'),
       url('/fonts/Apparel-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
